<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
    <arguments>
      <argument name="addFieldStrategies" xsi:type="array">
        <item name="outshifter_exported" xsi:type="object">outshifter\pluginconnector\Ui\DataProvider\Product\AddOutshifterExportedField</item>
      </argument>
      <argument name="addFilterStrategies" xsi:type="array">
        <item name="outshifter_exported" xsi:type="object">outshifter_pluginconnector\Ui\DataProvider\Product\AddOutshifterExportedFilter</item>
      </argument>
    </arguments>
  </type>
</config>